<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
  <div>
    {{ session['email']}}'s DASHBOARD
  <div>

    <div>
      Add new clothes
      <form action="\add_new_item" method="POST">
        <input type="text" name="name" value="" placeholder="Name of Clothing"></input>
        <input type="text" name="type" value="" placeholder="Type of Clothing"></input>
        <input type="text" name="color" value="" placeholder="Color of Clothing"></input>
        <label>Worn today?</label><input type="checkbox" name="worntoday" label></input>
        <input type="submit" name="" value=""></input>
        <input type="reset" name="" value=""></input>
      <form>
    </div>

    <div>
      <table id="clothestable">
        <tr>
          <th>Clothing Number</th><th>Name</th><th>Type</th><th>Color</th><th>Last Worn</th>
        </tr>

      </table>
    <div>

      <script src="{{url_for('static', filename='loginjs.js')}}"></script>
</body>
