{% extends 'base.html' %}

<head>
  
</head>

<body>
  <div>
    
    {% block content %}
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">LOGIN</h2>
                    <form id = "loginform" method="POST" action = "/login">
                                                    
                        <div class="row row-space">
                            <div class="col">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="text" name="email">
                                </div>
                            </div>
                        </div>
                        <div class = "row row-space">
                            <div class="col">
                                <div class="input-group">
                                    <label class="label">Password</label>
                                    <input class="input--style-4" type="text" name="password">
                                </div>
                            </div>
                        </div></div>
                        
                        
                        <div class="p-t-3 button">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                        </div>

                    </form>
                    <div style="text-align: center">
      <a id="newuserclick" href= "./new_user.html">Register!</a>
    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='loginjs.js')}}"></script>
    {% endblock content  %}

    
</body>
